
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">User : <%= tweet.username %></h5>
    <div class="card">
       <p class="card-text"><%= tweet.description %></p>
    </div>
  </div>
</div>