<h1>Editing Tweet</h1>
<div class="card text-bg-primary gy-5">
  <%= render "form", tweet: @tweet %>
</div>

<div class="container text-center">
  <div class="row row-cols-auto">
    <div class="col">
      <%= link_to image_tag('backc.svg'), tweets_path ,class: "btn btn-light"  , title: "Back" %>
    </div>
  </div>
</div>
